:root {
  --primary-color: #ffffff;
  --text-color: #000000;
  --secondary-color: #b788d5;
  --accent-color: #7a1c9b;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
}

header,
footer {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 0;
  text-align: center;
}
a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

#home,
#about,
#projects,
#contact {
  text-align: center;
  margin-top: 50px;
}

#home img,
#about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#home .button,
.btn,
form button {
  display: inline-block;
  padding: 10px 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#home .button:hover,
.btn:hover,
form button:hover {
  background: var(--accent-color);
  transition: background-color 0.3s;
}

#about img {
  float: left;
  margin-right: 20px;
}

#about ul,
#projects ul {
  list-style-type: none;
  padding: 0;
}

#about ul li,
#projects ul li {
  margin-bottom: 10px;
}

.project {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.card {
  border: 1px solid var(--primary-color);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.card .card-body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

form {
  max-width: 600px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

#hero {
  height: 100vh;
  background: url("background.jpg") no-repeat center center/cover;
  position: relative;
  color: var(--text-color);
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: rgba(0, 0, 0, 0.5);*/
}

#hero .content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
}

#skills {
  padding: 50px 0;
}
